/* Main CSS-File */
.MWindow {
	-fx-background-image: url("../icons/grey_wash_wall.png") 
}

.header {
	-fx-font-weight: bold;
	-fx-font-size: 50pt;
	-fx-fill: white;
}

.item {
	-fx-font-weight: bold;
	-fx-font-size: 20pt;
	-fx-text-fill: white;
}

.contentArea {
	-fx-background-color: rgba(0,0,0,0.3);
	-fx-background-radius: 20px;
}

.MPartSashContainer {
	-fx-background-color: transparent;
}

.MPartSashContainer > .split-pane-divider {
	-fx-background-color: transparent;
}

.viewContent {
	-fx-background-color: rgba(0,0,0,0.3);
	-fx-background-radius: 5px;
	-fx-padding: 15px;
}

.detail-label {
	-fx-text-fill: white;
	-fx-padding: 5 0.0 0.0 0.0;
}

.MPart {
	-fx-padding: 10px;
}

.perspectiveHeader {
	-fx-font-weight: bold;
	-fx-font-size: 30pt;
	-fx-text-fill: white;
}

.navigationContent {
	-fx-background-color: rgba(0,0,0,0.3);
	-fx-background-radius: 10px;
	-fx-padding: 10px;
}

.navigationContent .label {
	-fx-text-fill: white;
}

.tab-header-background {
	-fx-opacity: 0.0;
}

.number-col {
	-fx-alignment: center-right;
}

.toolbutton {
	-fx-background-color: transparent;
}

.toolbutton:hover {
	-fx-background-color: rgba(0,0,0,0.3);
}

 .toolbutton.add {
	-fx-graphic: url("../icons/list-add.png");
}

.toolbutton.remove {
	-fx-graphic: url("../icons/list-remove.png");
}

.toolbutton.edit {
	-fx-graphic: url("../icons/configure.png");
}

.popupArea {
	-fx-background-color: rgba(0,0,0,0.8);
	-fx-background-radius: 10px;
	-fx-padding: 20px;
}
